<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mac.cardbox">

    <!-- 添加访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 访问存储卡的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/box_item_32_07"
        android:label="@string/app_name"
        android:roundIcon="@drawable/box_item_32_07"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainNavigationActivity"
            android:label="@string/title_activity_main_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddOneSideBoxActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddTwoSideBoxActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditUserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BoxDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditBoxDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BrowseCurrentBoxCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SelectedCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddCardActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>